
<p>
php web server:
</p>

<p>
<a href="http://localhost:8080/brython/site/tests/yeneditor.html" class="urlextern" title="http://localhost:8080/brython/site/tests/yeneditor.html"  rel="nofollow">http://localhost:8080/brython/site/tests/yeneditor.html</a>
</p>

<p>
mongoose:
</p>

<p>
<a href="http://localhost:8084/brython/site/tests/yeneditor.html" class="urlextern" title="http://localhost:8084/brython/site/tests/yeneditor.html"  rel="nofollow">http://localhost:8084/brython/site/tests/yeneditor.html</a>
</p>
